
ResourceFramework/Library
ResourceFramework/ResourceFramework/Temp
ResourceFramework/ProjectSettings/ProjectVersion.txt
ResourceFramework/Temp/UnityLockfile
ResourceFramework/.vs
ResourceFramework/Temp
ResourceFramework/Temp/UnityVS_bin
